<div class="jumbotron">
  <h1>Search</h1>

  <div class="inputs">
    <div class="form-group label-static is-empty">
      <label for="query" class="control-label">Query</label>
      <input type="text" class="form-control" id="query" placeholder="Type anything. e.g. John Snow or O+ or 0171">
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="row">
    <div class="col-lg-6 col-sm-6">
      <div class="card hovercard">
        <div class="cardheader">
        </div>
        <div class="avatar">
          <img alt="" src="http://placehold.it/100x100">
        </div>
        <div class="info">
          <div class="title">
            <a target="_blank" href="http://scripteden.com/">Script Eden</a>
          </div>
          <div class="desc">Passionate designer</div>
          <div class="desc">Curious developer</div>
          <div class="desc">Tech geek</div>
        </div>
        <div class="bottom">
          <a class="btn btn-primary btn-twitter btn-sm" href="#">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="btn btn-danger btn-sm" rel="publisher"
             href="#">
            <i class="fa fa-google-plus"></i>
          </a>
          <a class="btn btn-primary btn-sm" rel="publisher"
             href="#">
            <i class="fa fa-facebook"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-6">
      <div class="card hovercard">
        <div class="cardheader">
        </div>
        <div class="avatar">
          <img alt="" src="http://placehold.it/100x100">
        </div>
        <div class="info">
          <div class="title">
            <a target="_blank" href="http://scripteden.com/">Script Eden</a>
          </div>
          <div class="desc">Passionate designer</div>
          <div class="desc">Curious developer</div>
          <div class="desc">Tech geek</div>
        </div>
        <div class="bottom">
          <a class="btn btn-primary btn-twitter btn-sm" href="#">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="btn btn-danger btn-sm" rel="publisher"
             href="#">
            <i class="fa fa-google-plus"></i>
          </a>
          <a class="btn btn-primary btn-sm" rel="publisher"
             href="#">
            <i class="fa fa-facebook"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-6">
      <div class="card hovercard">
        <div class="cardheader">
        </div>
        <div class="avatar">
          <img alt="" src="http://placehold.it/100x100">
        </div>
        <div class="info">
          <div class="title">
            <a target="_blank" href="http://scripteden.com/">Script Eden</a>
          </div>
          <div class="desc">Passionate designer</div>
          <div class="desc">Curious developer</div>
          <div class="desc">Tech geek</div>
        </div>
        <div class="bottom">
          <a class="btn btn-primary btn-twitter btn-sm" href="#">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="btn btn-danger btn-sm" rel="publisher"
             href="#">
            <i class="fa fa-google-plus"></i>
          </a>
          <a class="btn btn-primary btn-sm" rel="publisher"
             href="#">
            <i class="fa fa-facebook"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-6">
      <div class="card hovercard">
        <div class="cardheader">
        </div>
        <div class="avatar">
          <img alt="" src="http://placehold.it/100x100">
        </div>
        <div class="info">
          <div class="title">
            <a target="_blank" href="http://scripteden.com/">Script Eden</a>
          </div>
          <div class="desc">Passionate designer</div>
          <div class="desc">Curious developer</div>
          <div class="desc">Tech geek</div>
        </div>
        <div class="bottom">
          <a class="btn btn-primary btn-twitter btn-sm" href="#">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="btn btn-danger btn-sm" rel="publisher"
             href="#">
            <i class="fa fa-google-plus"></i>
          </a>
          <a class="btn btn-primary btn-sm" rel="publisher"
             href="#">
            <i class="fa fa-facebook"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-6">
      <div class="card hovercard">
        <div class="cardheader">
        </div>
        <div class="avatar">
          <img alt="" src="http://placehold.it/100x100">
        </div>
        <div class="info">
          <div class="title">
            <a target="_blank" href="http://scripteden.com/">Script Eden</a>
          </div>
          <div class="desc">Passionate designer</div>
          <div class="desc">Curious developer</div>
          <div class="desc">Tech geek</div>
        </div>
        <div class="bottom">
          <a class="btn btn-primary btn-twitter btn-sm" href="#">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="btn btn-danger btn-sm" rel="publisher"
             href="#">
            <i class="fa fa-google-plus"></i>
          </a>
          <a class="btn btn-primary btn-sm" rel="publisher"
             href="#">
            <i class="fa fa-facebook"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>