<div class="row">
  <div class="col-md-12">
    <div class="well">

      <h1>Search</h1>
      <form method="get" action="<%= pages_welcome_path %>">
        <div class="inputs">
          <div class="form-group label-static is-empty">
            <label for="query" class="control-label">Query</label>
            <input type="text" value="<%= params[:query] %>" class="form-control" id="query" name="query" placeholder="Type anything. e.g. John Snow or O+ or 0171">
          </div>
        </div>
      </form>
    </div>
  </div>

  <div id="results_people" class="col-md-12">
    <%= render partial: 'pages/results', object: @people %>
  </div>
</div>

